Source: com.github.plugarut.pwned-checker
Section: x11
Priority: extra
Maintainer: Tudor Plugaru <plugaru.tudor@gmail.com>
Build-Depends: meson,
               valac (>= 0.26),
               debhelper (>= 9),
               libgtk-3-dev,
               libglib2.0-dev,
               libgranite-dev (>= 0.3.0),
               libsoup2.4-dev (>= 2.25.2),
               libjson-glib-dev (>= 0.10)

Standards-Version: 3.9.3
Package: com.github.plugarut.pwned-checker
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple application to check if a password was leaked online.
